.userList {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    padding: 0 20px;
}
.wrapper {
    max-width: 1220px;
    margin: 0 auto;
    border: 1px solid goldenrod;
}
.wrapper h1 {
    text-align: center;
}
.userItem {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    padding: 15px;
    border: 1px solid goldenrod;
    border-radius: 15px;
    height: 100%;
}